
* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    border: 3px dashed red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

}

div {
    height: 200px;
    border: 2px solid black;
    flex-grow: 1;
    flex-basis: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.flex1 {
    background-color: coral;
    flex-basis: 100%;
}

.flex2 {
    background-color: darkcyan;
   flex-basis: 60%;
}

.flex3 {
    background-color: darkolivegreen;
    flex-basis: 40%;
}

.flex4 {
    background-color: gold;
    
}

.flex5 {
    background-color: plum;
   
}