* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}

div {
    width: 600px;
    height: 600px;
    border: 2px solid blue;
    margin: 20%;
    border-radius: 50%;
    font-size: 25px;
    background-color: mediumaquamarine;
    
}

div:hover {
    color: gray;
    background-color: rgb(11, 99, 153);
}

.transition {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}