.flex1 {
    background-color: coral;
    
}

.flex2 {
    background-color: darkcyan;
   
}

.flex3 {
    background-color: darkolivegreen;
    
}

.flex4 {
    background-color: gold;
    
}

.flex5 {
    background-color: plum;
   
}