* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
    padding: 0%;
    width: 100%;
    border: 5px solid red;
    margin: 0 auto;
}

.one, .two, .three, .four, .five {
    width: 100%;
    min-height: 150px;
}



