.one {
    background-color: navy;

    
}

.two {
    background-color: blue;

}

.three {
    background-color: cornflowerblue;

}

.four {
    background-color: lightskyblue;

}

.five {
    background-color: lightgray;

}