ul {
    color: aqua;
}

#item01 {
    color: blueviolet;
}
.item02 {
    color: brown;
}
#item03 {
    color:tan;
}
.item04 {
    color:lavender;
}
#item05 {
    color:lawngreen;
}
.item06 {
    color: lemonchiffon;
}
#item07 {
    color: lightblue;
}
.item08 {
    color: lightcoral;
}
#item09 {
    color: lightcyan;
}
.item10 {
    color: lightgoldenrodyellow;
}

.item12 {
    color: lightgreen;
}
#item13 {
    color: lightgrey;
}
.item14 {
    color: lightsalmon;
}
#item15 {
    color: lightskyblue;
}
.item16 {
    color: lime;
}
#item17 {
    color: maroon;
}
.item18 {
    color: mediumpurple;
}
#item19 {
    color: midnightblue;
}
.item20 {
    color: oldlace;
}
.item22 {
    color: olive;
}
#item23 {
    color: orange;
}
.item24 {
    color: palevioletred;
}
#item25 {
    color: purple;
}
.item26 {
    color: red;
}
#item27 {
    color: sienna;
}
.item28 {
    color: springgreen;
}
#item29 {
    color: tomato;
}
.item30 {
    color: teal;
}

.item32 {
    color: thistle;
}
#item33 {
    color: wheat;
}
.item34 {
    color: yellow;
}
#item35 {
    color: whitesmoke;
}
.item36 {
    color: saddlebrown;
}
#item37 {
    color: paleturquoise;
}
.item38 {
    color: peachpuff;
}
#item39 {
    color: peru;
}
.item40 {
    color: black;
}
.item42 {
    color: rebeccapurple;
}
#item43 {
    color: royalblue;
}
.item44 {
    color: papayawhip;
}
#item45 {
    color: navajowhite;
}
.item46 {
    color: olivedrab;
}
#item47 {
    color: mintcream;
}
.item48 {
    color: mediumpurple;
}
#item49 {
    color: magenta;
}
.item50 {
    color: khaki;
}
.item52 {
    color: rebeccapurple;
}
#item53 {
    color: royalblue;
}
.item54 {
    color: papayawhip;
}
#item55 {
    color: navajowhite;
}
.item56 {
    color: olivedrab;
}
#item57 {
    color: mintcream;
}
.item58 {
    color: mediumpurple;
}
#item59 {
    color: magenta;
}

.item62 {
    color: brown;
}
#item63 {
    color:tan;
}
.item64 {
    color:lavender;
}
#item65 {
    color:lawngreen;
}
.item66 {
    color: lemonchiffon;
}
#item67 {
    color: lightblue;
}
.item68 {
    color: lightcoral;
}
#item69 {
    color: lightcyan;
}
.item70 {
    color: lightgoldenrodyellow;
}

.item72 {
    color: lightgreen;
}
#item73 {
    color: lightgrey;
}
.item74 {
    color: lightsalmon;
}
#item75 {
    color: lightskyblue;
}
.item76 {
    color: lime;
}
#item77 {
    color: maroon;
}
.item78 {
    color: mediumpurple;
}
#item79 {
    color: midnightblue;
}
.item80 {
    color: oldlace;
}
.item82 {
    color: olive;
}
#item83 {
    color: orange;
}
.item84 {
    color: palevioletred;
}
#item85 {
    color: purple;
}
.item86 {
    color: red;
}
#item87 {
    color: sienna;
}
.item88 {
    color: springgreen;
}
#item89 {
    color: tomato;
}
.item90 {
    color: forestgreen;
}
.item92 {
    color: thistle;
}
#item93 {
    color: wheat;
}
.item94 {
    color: yellow;
}
#item95 {
    color: whitesmoke;
}
.item96 {
    color: saddlebrown;
}
#item97 {
    color: paleturquoise;
}
.item98 {
    color: peachpuff;
}
#item99 {
    color: peru;
}